h1, h2, h3 {
    margin: 0;
}

body {
    margin: 0;
    font-family: "Roboto";
}

header,
section,
footer {
    padding: 1em 16em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

nav {
    display: flex;
    gap: 1em;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

section {
    padding-top: 4em;
    padding-bottom: 4em;
}

.intro {
    display: flex;
    gap: 3em;
    background-color: #1f2937;
}

.intro .left,
.intro .right {
    width: 50%;
}

.intro h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.intro p {
    font-size: 18px;
    color: #e5e7eb;
}

.intro button {
    border: none;
    border-radius: 4px;
    background-color: #3882f6;
    color: #fff;
    padding: 4px 20px;
}

.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-section h2 {
    margin-bottom: 2em;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.card {
    width: 200px;
}

.card img {
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.card .content {
    margin-top: 1em;
}

.quote-section {
    color: #1f2937;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.author {
    text-align: right;
    font-size: 18px;
    font-weight: 900;
}

.cta {
    background-color: #3882f6;
    padding: 2em 6em;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.cta p {
    margin: 0;
}

.cta button {
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 0.2em 2em;
    background: none;
    color: #fff;
}

footer {
    color: #fff;
    text-align: center;
    background-color: #1f2937;
}